$color1: black;
$color2: white;
//$color1:blue;
//$color1-comp:rgb(255, 189, 126);
//$color2:red;
//$color2-comp:rgb(126, 255, 126);
//$color3:yellow;
//$color3-comp:rgb(255, 126, 255);
$body_bg_color: #eceaea;